{% extends "base.html.twig" %}
{% block body %}
    <div class="container-fluid">
        <div class="main-login main-center">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="form-signin-heading text-center">Inicie sesión</h1>
                    {% if error %}
                        <h3><span class="label label-danger">{{ error.message | replace({"Bad credentials." : "Usuario o contraseña no válidos."}) }}</span></h3>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-5">
                    <form action="{{ path('login') }}" class="form-signin" method="post">

                        <label class="sr-only" for="username">Username:</label>
                        <input class="form-control" type="text" id="username" placeholder="RUT o E-mail" name="_username" value="{{ last_username }}" required/>
                        <label class="sr-only" for="password">Password:</label>
                        <input class="form-control" type="password" id="password" placeholder="Contraseña" name="_password" required/>
                        <button class="btn btn-block btn-primary" type="submit">Iniciar Sesión</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}